<html>
    <head>
        <title>Todo App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    
    <body>
        <div class="wrapper">
            <div class="lists-wrapper">
                <form id="list_form">
                    <div>
                        <!-- <label for="name">Create ToDo Item</label> -->
                        <input type="text" name="name" id="list_name">
                        <input type="submit" id="submit_list" value="Create">
                    </div>
                </form>

                <ul id="lists">
                    {%for list in lists%}
                        <li><input class="list-check-completed" data-id= "{{list.id}}" type="checkbox" {%if list.completed%} checked {%endif%}/>
                            <a href="/lists/{{list.id}}">{{list.name}}</a>
                        <button class="delete-list delete" data-id="{{ list.id }}">X</button>
                    {%endfor%}
                </ul>
            </div>

            <div class="todos-wrapper">
                <h4>{{active_list.name}}</h4>
                <form id="form">
                    <div>
                        <!-- <label for="name">Create ToDo Item</label> -->
                        <input id="list_id" type="hidden" value="{{ active_list.id }}">
                        <input type="text" name="description" id="description">
                        <input type="submit" id="submit" value="Create">
                    </div>
                </form>
        
                <div id="error" class="hidden">Something went wrong!</div>
        
                <ul id="todos">
                    {% for todo in todos %}
                        <li><input class="check-completed" data-id= "{{todo.id}}" type="checkbox" {%if todo.completed%} checked {%endif%}/>
                            {{todo.description}}
                            <button class="delete-button delete" data-id="{{ todo.id }}">X</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <script>
            const deleteBtns = document.querySelectorAll('.delete-button');
                for (let i = 0; i < deleteBtns.length; i++) {
                    const btn = deleteBtns[i];
                    btn.onclick = function(e) {
                    const todoId = e.target.dataset['id'];
                    fetch('/todos/' + todoId, {
                        method: 'DELETE'
                    });
                    }
                }

                const checked = document.querySelectorAll('.check-completed');
                for (let i=0; i< checked.length; i++){
                    const checkbox = checked[i];
                    checkbox.onchange = function(e){
                        console.log('event',e);
                        const newCompleted = e.target.checked;
                        const todoId=e.target.dataset['id'];
                        fetch('todos/'+todoId+'/set-completed', {
                            method: 'POST',
                            body: JSON.stringify({
                                'completed': newCompleted
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(function() {
                        document.getElementById('error').className = 'hidden';
                        }).catch(function() {
                            document.getElementById('error').className = '';
                        });
                    }
                }
                const description = document.getElementById('description');
                document.getElementById('form').onsubmit = function(e) {
                    e.preventDefault();
                    const desc = description.value;
                    description.value = '';
                    fetch('/todos/create', {
                        method: 'POST',
                        body: JSON.stringify({
                            'description': desc,
                            'list_id': document.getElementById('list_id').value
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        } 
                    })
                    .then(function(response) {
                        return response.json();
                    })
                    .then(jsonResponse => {
                        console.log('response', jsonResponse); 
                        li = document.createElement('li');
                        li.innerText = desc;
                        document.getElementById('todos').appendChild(li);
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function() {
                        document.getElementById('error').className = '';
                    });
                }

                const list_name = document.getElementById('list_name');
                document.getElementById('list_form').onsubmit = function(e) {
                    e.preventDefault();
                    const list = list_name.value;
                    list_name.value = '';
                    fetch('/lists/create', {
                        method: 'POST',
                        body: JSON.stringify({
                            'name': list,
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        } 
                    })
                    .then(function(response) {
                        return response.json();
                    })
                    .then(jsonResponse => {
                        console.log('response', jsonResponse); 
                        li = document.createElement('li');
                        li.innerText = list;
                        document.getElementById('lists').appendChild(li);
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function() {
                        document.getElementById('error').className = '';
                    });
                }

                const list_checked = document.querySelectorAll('.list-check-completed');
                for (let i=0; i< list_checked.length; i++){
                    const checkbox = list_checked[i];
                    checkbox.onchange = function(e){
                        console.log('event',e);
                        const newCompleted = e.target.checked;
                        const listId=e.target.dataset['id'];
                        fetch(listId+'/set-completed', {
                            method: 'POST',
                            body: JSON.stringify({
                                'completed': newCompleted
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(function() {
                        document.getElementById('error').className = 'hidden';
                        }).catch(function() {
                            document.getElementById('error').className = '';
                        });
                    }
                }

                deleteListBtns = document.querySelectorAll(".delete-list");
      
                for (let i = 0; i < deleteListBtns.length; i++) {
                    const deleteBtn = deleteListBtns[i];
                    deleteBtn.onclick = function(e) {
                    console.log("Delete event: ", e);
                    const listId = e.target.dataset.id;

                    fetch('/lists/'+ listId + '/delete',{
                        method: 'DELETE'
                    }).then(function() {
                        console.log('Parent?', e.target);
                        const item = e.target.parentElement;
                        item.remove();
                        document.getElementById("error").className = "hidden";
                        window.location.reload(true);
                        })
                        .catch(function(e) {
                        console.error(e);
                        document.getElementById("error").className = "";
                        });
                    };
                }

            </script>
    </body>
</html>